### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [261]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [262]:
total_players = purchase_data['SN'].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [263]:
unique_item = purchase_data['Item Name'].nunique()
average_price = purchase_data['Price'].mean()
number_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
summary_data = pd.DataFrame({
    "unique_item": [unique_item],
    'average_price': [average_price],
    'number_purchases': [number_purchases],
    'total_revenue': [total_revenue]
})
summary_data.style.format({'average_price':"${:,.2f}",
                         'total_revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [264]:
gender_count = purchase_data.groupby("Gender")
unique_members = pd.DataFrame(gender_count["SN"].nunique())
percentage_of_players = pd.DataFrame((unique_members/total_players)*100)
merged_values = unique_members.merge(percentage_of_players, on="Gender")
merged_values = merged_values.rename(
    columns={"SN_x": "Total Count", "SN_y": 'Percentage of Players'})
merged_values = merged_values.sort_values('Total Count', ascending=False)
merged_values = merged_values.style.format({'Percentage of Players':"{:,.2f}%"
                         })
merged_values


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [260]:
purchase_count = gender_count["Purchase ID"].nunique()
average_purchase_price = gender_count["Price"].mean()
total_purchase_value = gender_count["Price"].sum()
average_total_p_per_person = total_purchase_value / unique_members['SN']
table = pd.DataFrame({'Purchase Count':purchase_count, 'Average Purchase Price':average_purchase_price, 'Total Purchase Value':total_purchase_value, 'Avg Total Purchase per Person':average_total_p_per_person})
table = table.style.format({'Average Purchase Price':"${:,.2f}", 'Avg Total Purchase per Person':"${:,.2f}", 'Total Purchase Value':"${:,.2f}"
                                   })
table

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [218]:
bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "+40"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
age_count = purchase_data.groupby("Age Group")
unique_members2 = pd.DataFrame(age_count["SN"].nunique())
percentage_of_players2 = pd.DataFrame((unique_members2/total_players)*100)
merged_values2 = unique_members2.merge(percentage_of_players2, on="Age Group")
merged_values2 = merged_values2.rename(
    columns={"SN_x": "Total Count", "SN_y": 'Percentage of Players'})
merged_values2 = merged_values2.style.format({'Percentage of Players':"{:,.2f}%"
                         })
merged_values2

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [270]:
purchase_count = age_count["Purchase ID"].nunique()
average_purchase_price = age_count["Price"].mean()
total_purchase_value = age_count["Price"].sum()
average_total_p_per_person = total_purchase_value / unique_members2['SN']
table2 = pd.DataFrame({'Purchase Count':purchase_count, 'Average Purchase Price':average_purchase_price, 'Total Purchase Value':total_purchase_value, 'Avg Total Purchase per Person':average_total_p_per_person})
table2 = table2.style.format({'Average Purchase Price':"${:,.2f}", 'Avg Total Purchase per Person':"${:,.2f}", 'Total Purchase Value':"${:,.2f}"
                                   })
table2

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [292]:
top_spenders = purchase_data.groupby("SN")
purchase_count = top_spenders["Purchase ID"].nunique()
average_purchase_price = top_spenders["Price"].mean()
total_purchase_value = top_spenders["Price"].sum()
table3 = pd.DataFrame({'Purchase Count':purchase_count, 'Average Purchase Price':average_purchase_price, 'Total Purchase Value':total_purchase_value})
table3 = table3.sort_values('Purchase Count', ascending=False)
table3 = table3.head(5)
table3 = table3.style.format({'Average Purchase Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}"
                                   })
table3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [305]:
top_items = purchase_data.groupby("Item ID")
item_name = top_items["Item Name"].unique()
purchase_count = top_items["Purchase ID"].nunique()
average_purchase_price = top_items["Price"].mean()
total_purchase_value = top_items["Price"].sum()
table3 = pd.DataFrame({'Item Name':item_name, 'Purchase Count':purchase_count, "Item Price":average_purchase_price,'Total Purchase Value': total_purchase_value})
table3 = table3.sort_values('Purchase Count', ascending=False)
table3 = table3.head(5)
table3 = table3.style.format({"Item Price":"${:,.2f}", 'Total Purchase Value':"${:,.2f}"
                                   })
table3

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [306]:
top_items = purchase_data.groupby("Item ID")
item_name = top_items["Item Name"].unique()
purchase_count = top_items["Purchase ID"].nunique()
average_purchase_price = top_items["Price"].mean()
total_purchase_value = top_items["Price"].sum()
table3 = pd.DataFrame({'Item Name':item_name, 'Purchase Count':purchase_count, "Item Price":average_purchase_price,'Total Purchase Value': total_purchase_value})
table3 = table3.sort_values('Total Purchase Value', ascending=False)
table3 = table3.head(5)
table3 = table3.style.format({"Item Price":"${:,.2f}", 'Total Purchase Value':"${:,.2f}"
                                   })
table3